.LedSection {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 2px solid rgb(100, 85, 85);
  margin: 10px 0;
  transition: 1s;
}

.Led {
  display: block;
  width: 140px;
  padding: 10px 25px;
  background-color: rgba(105, 80, 80, 0.564);
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 28px;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

.Led:hover {
  transform: translateX(5px);
  box-shadow: -5px 2px 5px 1px #000;
}
