.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.Recive {
  display: flex;
  width: 230px;
  height: 100px;
  line-height: 100px;
  background-color: rgb(105, 92, 92);
  border: 3px solid rgb(64, 56, 56);
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 40px;
}

.Start {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: rgb(103, 154, 105);
  border: 3px solid rgb(64, 56, 56);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .Start {
    display: none;
  }
}

.Led {
  display: block;
  width: 120px;
  padding: 10px 25px;
  background-color: rgba(105, 80, 80, 0.564);
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 28px;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

.Led:hover {
  transform: translateX(5px);
  box-shadow: -5px 2px 5px 1px #000;
}

.LedSections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgba(100, 85, 85, 0.564);
  border-radius: 30px;
  border: 4px solid rgb(64, 56, 56);
}

.ModifierSections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgba(100, 85, 85, 0.564);
  border-radius: 30px;
  border: 4px solid rgb(64, 56, 56);
}

@media only screen and (max-width: 600px) {
  .ModifierSections {
    display: none;
  }
}

.LedSection {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 2px solid rgb(100, 85, 85);
  margin: 10px 0;
  transition: 1s;
}

.Modifier {
  height: 50vh;
  width: 20px;
  background-color: rgb(125, 120, 120);
  border: 1px solid rgb(64, 56, 56);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.374);
  border-radius: 7px;
}

.Zip {
  height: 20px;
  width: 40px;
  transform: translate(-25%, -50%);
  background-color: rgb(26, 20, 193);
  border: 2px solid rgb(7, 11, 88);
  box-shadow: 0px 0px 20px 0px rgba(13, 158, 230, 0.673);
  border-radius: 30px;
  margin-top: 50vh;
  z-index: 5;
}

.Percent {
  display: flex;
  width: 200px;
  height: 70px;
  line-height: 70px;
  background-color: rgb(105, 92, 92);
  border: 3px solid rgb(64, 56, 56);
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 35px;
  margin-bottom: 30px;
}
